@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 600vh;
  background: rgb(41, 41, 41);
}

header {
  background: url(../images/bg-slider-06.jpg) center/cover;
  height: 100vh;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 80px;
  color: rgb(224, 224, 224);
}
header nav p {
  font-family: allura, serif;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
header nav .menu {
  width: 55%;
  height: 100%;
}
header nav .menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-family: roboto, sans-serif;
  font-size: 0.9rem;
}
header nav .menu ul:hover li:not(:hover) {
  filter: blur(1px);
}
header nav .menu ul li {
  cursor: pointer;
  position: relative;
  list-style: none;
  transition: 1s;
}
header nav .menu ul li:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: rgb(224, 224, 224);
  opacity: 0;
  animation: underlineMenu 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}
@keyframes underlineMenu {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
    opacity: 0.8;
  }
}
header nav .menu-network {
  width: 10%;
}
header nav .menu-network ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}
header nav .menu-network ul:hover li:not(:hover) {
  filter: blur(1px);
}
header nav .menu-network ul li {
  transition: 1s;
  cursor: pointer;
}
header .title {
  margin: 175px 0 0 0;
  text-align: center;
}
header .title h1 {
  font-family: allura, serif;
  color: rgb(170, 102, 0);
  font-weight: 200;
  font-size: 3.5rem;
}
header .title h1 span {
  font-family: poppins, serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 10px;
  color: white;
}
header .title img {
  height: 35px;
  margin: 50px 0;
}
header .title p {
  font-family: roboto, sans-serif;
  color: white;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 60vh;
  overflow: hidden;
}
.section1 .s1-left-part {
  width: 50%;
  height: 58vh;
  border: 1px dashed rgb(170, 102, 0);
  margin: 10px;
  text-align: center;
}
.section1 .s1-left-part p:first-child {
  color: rgb(170, 102, 0);
  font-family: allura, serif;
  font-size: 2.3rem;
  margin-top: 50px;
}
.section1 .s1-left-part p:first-child span {
  color: black;
  font-family: poppins, serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.section1 .s1-left-part img {
  margin: 25px 0;
}
.section1 .s1-left-part .s1-lp-txt {
  font-family: roboto, sans-serif;
  font-size: 1.2rem;
  padding: 0 10px;
  margin: 0 0 25px 0;
}
.section1 .s2-lp-img-russel-stephens img {
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 0 2px 0;
}
.section1 .s2-lp-img-russel-stephens :nth-child(2) {
  font-family: poppins, serif;
}
.section1 .s2-lp-img-russel-stephens :last-child {
  font-family: roboto, sans-serif;
  color: rgb(197, 197, 197);
}
.section1 .s1-right-part {
  background: url(../images/store-01.jpg) center/cover;
  width: 50%;
  height: 60vh;
}

.section2 .s2-top-part {
  text-align: center;
  height: 32vh;
}
.section2 .s2-top-part p {
  font-family: allura, serif;
  color: rgb(170, 102, 0);
  font-size: 2.8rem;
  margin: 50px 0 30px 0;
}
.section2 .s2-top-part img {
  height: 35px;
}
.section2 .s2-top-part ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 .s2-top-part ul li {
  position: relative;
  margin: 50px 50px 20px 50px;
  font-family: roboto, sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
  height: 50px;
}
.section2 .s2-top-part ul li::before {
  position: absolute;
  content: "";
  background: white;
  height: 1px;
  width: 100%;
  top: 80%;
}
.section2 .s2-bottom-part {
  position: relative;
  height: 80vh;
  background: url("../images/bg-menu-01.jpg") center/cover;
}
.section2 .s2-bottom-part .s2-bp-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  height: 75vh;
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.section2 .s2-bottom-part .s2-bp-container .meal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px dashed rgb(224, 224, 224);
  margin: 5px 10px;
  position: relative;
}
.section2 .s2-bottom-part .s2-bp-container .meal img {
  width: 22%;
  border-radius: 50%;
}
.section2 .s2-bottom-part .s2-bp-container .meal div {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.section2 .s2-bottom-part .s2-bp-container .meal div :first-child {
  font-family: roboto, sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.section2 .s2-bottom-part .s2-bp-container .meal div :last-child {
  font-family: roboto, sans-serif;
}
.section2 .s2-bottom-part .s2-bp-container .meal :nth-child(3) {
  font-family: roboto, sans-serif;
  font-weight: bold;
  color: rgb(170, 102, 0);
}

.section3 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section3 .s3-container {
  height: 75vh;
  width: 85%;
  display: flex;
  background: black;
}
.section3 .s3-container .s3-left-part {
  box-sizing: border-box;
  margin: 30px;
  width: 22%;
  border: 1px dashed rgb(224, 224, 224);
  background: rgb(14, 14, 14);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.section3 .s3-container .s3-left-part div:not(:last-child) {
  text-align: center;
  height: 20%;
}
.section3 .s3-container .s3-left-part .s3-lp-title p {
  font-family: allura, serif;
  font-size: 3rem;
  color: rgb(170, 102, 0);
}
.section3 .s3-container .s3-left-part .s3-lp-title p span {
  font-family: poppins, serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(224, 224, 224);
}
.section3 .s3-container .s3-left-part img {
  height: 40px;
}
.section3 .s3-container .s3-left-part .s3-lp-hours {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.section3 .s3-container .s3-left-part .s3-lp-hours :first-child {
  font-family: poppins, serif;
  text-transform: uppercase;
  color: rgb(170, 102, 0);
  font-size: 1.5rem;
}
.section3 .s3-container .s3-left-part .s3-lp-hours :nth-child(2),
.section3 .s3-container .s3-left-part .s3-lp-hours :last-child {
  font-family: roboto, sans-serif;
  color: rgb(224, 224, 224);
  font-size: 1.2rem;
}
.section3 .s3-container .s3-left-part .s3-lp-num {
  margin: 0 0 30px 0;
  font-family: poppins, serif;
  color: rgb(170, 102, 0);
  font-size: 1.3rem;
  font-weight: bold;
}
.section3 .s3-container .s3-right-part {
  width: 78%;
  background: white;
  text-align: center;
}
.section3 .s3-container .s3-right-part p {
  margin: 85px 0 30px 0;
  font-size: 3rem;
  font-family: poppins, serif;
  font-weight: bold;
  text-transform: uppercase;
}
.section3 .s3-container .s3-right-part p span {
  font-family: allura, serif;
  font-weight: normal;
  color: rgb(170, 102, 0);
  font-size: 3.5rem;
  text-transform: none;
}
.section3 .s3-container .s3-right-part .s3-rp-form {
  width: 80%;
  margin: 30px auto 0 auto;
}
.section3 .s3-container .s3-right-part .s3-rp-form form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "poeple poeple hour" "name phone email" ". submit .";
}
.section3 .s3-container .s3-right-part .s3-rp-form form input,
.section3 .s3-container .s3-right-part .s3-rp-form form select {
  background: none;
  border: none;
  border-bottom: 1px solid rgb(224, 224, 224);
  padding: 20px;
  margin: 10px 20px 10px 20px;
  cursor: pointer;
  font-size: 1.1rem;
}
.section3 .s3-container .s3-right-part .s3-rp-form form input:focus,
.section3 .s3-container .s3-right-part .s3-rp-form form select:focus {
  outline: none;
}
.section3 .s3-container .s3-right-part .s3-rp-form form input[type=text],
.section3 .s3-container .s3-right-part .s3-rp-form form input[type=mail] {
  cursor: text;
}
.section3 .s3-container .s3-right-part .s3-rp-form form input[type=submit] {
  grid-area: submit;
  margin: 30px 0 0 0;
  background: rgb(14, 14, 14);
  color: white;
  border-radius: 40px;
  text-transform: uppercase;
  font-family: poppins, serif;
  font-weight: bold;
  letter-spacing: 5px;
  transition: 0.5s;
}
.section3 .s3-container .s3-right-part .s3-rp-form form input[type=submit]:hover {
  background: white;
  color: rgb(14, 14, 14);
}

.section4 {
  height: 80vh;
}
.section4 .s4-title {
  text-align: center;
}
.section4 .s4-title p {
  font-family: allura, serif;
  font-size: 3rem;
  color: rgb(170, 102, 0);
}
.section4 .s4-title p span {
  font-family: poppins, serif;
  font-weight: bold;
  font-size: 2.5rem;
  color: white;
  text-transform: uppercase;
}
.section4 .s4-title img {
  height: 40px;
}
.section4 .s4-container {
  width: 80%;
  height: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "e1 e1 e3" "e2 e2 e3";
}
.section4 .s4-container .s4-event1,
.section4 .s4-container .s4-event2 {
  grid-area: e1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
.section4 .s4-container .s4-event1 .s4-e1-lp,
.section4 .s4-container .s4-event1 .s4-e2-lp,
.section4 .s4-container .s4-event2 .s4-e1-lp,
.section4 .s4-container .s4-event2 .s4-e2-lp {
  background: url(../images/event-01.jpg) center/cover;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4 .s4-container .s4-event1 .s4-e1-lp p,
.section4 .s4-container .s4-event1 .s4-e2-lp p,
.section4 .s4-container .s4-event2 .s4-e1-lp p,
.section4 .s4-container .s4-event2 .s4-e2-lp p {
  background: rgb(44, 44, 44);
  color: #fff;
  width: 40%;
  padding: 30px;
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 1.1rem;
}
.section4 .s4-container .s4-event1 .s4-e1-lp p span,
.section4 .s4-container .s4-event1 .s4-e2-lp p span,
.section4 .s4-container .s4-event2 .s4-e1-lp p span,
.section4 .s4-container .s4-event2 .s4-e2-lp p span {
  font-size: 1.7rem;
  font-weight: bold;
}
.section4 .s4-container .s4-event1 .s4-e1-rp,
.section4 .s4-container .s4-event1 .s4-e2-rp,
.section4 .s4-container .s4-event2 .s4-e1-rp,
.section4 .s4-container .s4-event2 .s4-e2-rp {
  background: #fff;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}
.section4 .s4-container .s4-event1 .s4-e1-rp p,
.section4 .s4-container .s4-event1 .s4-e2-rp p,
.section4 .s4-container .s4-event2 .s4-e1-rp p,
.section4 .s4-container .s4-event2 .s4-e2-rp p {
  padding: 25px;
}
.section4 .s4-container .s4-event1 .s4-e1-rp :first-child,
.section4 .s4-container .s4-event1 .s4-e2-rp :first-child,
.section4 .s4-container .s4-event2 .s4-e1-rp :first-child,
.section4 .s4-container .s4-event2 .s4-e2-rp :first-child {
  font-size: 1.5rem;
  font-family: roboto, sans-serif;
  letter-spacing: 3px;
}
.section4 .s4-container .s4-event1 .s4-e1-rp :nth-child(2),
.section4 .s4-container .s4-event1 .s4-e2-rp :nth-child(2),
.section4 .s4-container .s4-event2 .s4-e1-rp :nth-child(2),
.section4 .s4-container .s4-event2 .s4-e2-rp :nth-child(2) {
  color: rgb(224, 224, 224);
  font-family: roboto, sans-serif;
  font-weight: lighter;
  letter-spacing: 4px;
}
.section4 .s4-container .s4-event1 .s4-e1-rp :last-child,
.section4 .s4-container .s4-event1 .s4-e2-rp :last-child,
.section4 .s4-container .s4-event2 .s4-e1-rp :last-child,
.section4 .s4-container .s4-event2 .s4-e2-rp :last-child {
  font-size: 1.2rem;
  font-family: poppins, serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
}
.section4 .s4-container .s4-event2 {
  grid-area: e2;
}
.section4 .s4-container .s4-event2 .s4-e2-lp {
  background: url("../images/event-02.jpg") center/cover;
}
.section4 .s4-container .s4-event3 {
  grid-area: e3;
  padding: 15px;
}
.section4 .s4-container .s4-event3 .s4-e3-behind-part {
  width: 100%;
  height: 100%;
  background: url("../images/event-03.jpg") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section4 .s4-container .s4-event3 .s4-e3-behind-part .s4-e3-ahead-part {
  background: #fff;
  height: 90%;
  width: 85%;
}
.section4 .s4-container .s4-event3 .s4-e3-behind-part .s4-e3-ahead-part :first-child {
  background: rgb(44, 44, 44);
  color: #fff;
  width: 30%;
  padding: 15px 15px 25px 15px;
  margin: 0 auto;
  text-align: center;
  font-family: roboto, sans-serif;
  font-size: 1.1rem;
}
.section4 .s4-container .s4-event3 .s4-e3-behind-part .s4-e3-ahead-part :first-child span {
  font-size: 1.7rem;
  font-weight: bold;
}
.section4 .s4-container .s4-event3 .s4-e3-behind-part .s4-e3-ahead-part :nth-child(2) {
  text-align: center;
  font-size: 1.5rem;
  font-family: roboto, sans-serif;
  letter-spacing: 3px;
  margin: 40px 0;
}
.section4 .s4-container .s4-event3 .s4-e3-behind-part .s4-e3-ahead-part :nth-child(3) {
  color: rgb(224, 224, 224);
  font-family: roboto, sans-serif;
  font-weight: lighter;
  letter-spacing: 4px;
  text-align: center;
}
.section4 .s4-container .s4-event3 .s4-e3-behind-part .s4-e3-ahead-part :last-child {
  font-size: 1.2rem;
  font-family: poppins, serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 100px 0 0 0;
  text-align: center;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */