@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 600vh;
  background: rgb(41, 41, 41);
}

header {
  background: url(../images/bg-slider-06.jpg) center/cover;
  height: 100vh;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 80px;
  color: rgb(240, 240, 240);
}
header nav p {
  font-family: allura, serif;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}
header nav .menu {
  width: 55%;
  height: 100%;
}
header nav .menu ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-transform: uppercase;
  font-family: roboto, sans-serif;
  font-size: 0.9rem;
}
header nav .menu ul:hover li:not(:hover) {
  filter: blur(1px);
}
header nav .menu ul li {
  cursor: pointer;
  position: relative;
  list-style: none;
  transition: 1s;
}
header nav .menu ul li:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background: rgb(240, 240, 240);
  opacity: 0;
  -webkit-animation: underlineMenu 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
          animation: underlineMenu 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}
@-webkit-keyframes underlineMenu {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
    opacity: 0.8;
  }
}
@keyframes underlineMenu {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
    opacity: 0.8;
  }
}
header nav .menu-network {
  width: 10%;
}
header nav .menu-network ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}
header nav .menu-network ul:hover li:not(:hover) {
  filter: blur(1px);
}
header nav .menu-network ul li {
  transition: 1s;
  cursor: pointer;
}
header .title {
  margin: 175px 0 0 0;
  text-align: center;
}
header .title h1 {
  font-family: allura, serif;
  color: rgb(170, 102, 0);
  font-weight: 200;
  font-size: 3.5rem;
}
header .title h1 span {
  font-family: poppins, serif;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: 10px;
  color: white;
}
header .title img {
  height: 35px;
  margin: 50px 0;
}
header .title p {
  font-family: roboto, sans-serif;
  color: white;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  height: 60vh;
  overflow: hidden;
}
.section1 .s1-left-part {
  width: 50%;
  height: 58vh;
  border: 1px dashed rgb(170, 102, 0);
  margin: 10px;
  text-align: center;
}
.section1 .s1-left-part p:first-child {
  color: rgb(170, 102, 0);
  font-family: allura, serif;
  font-size: 2.3rem;
  margin-top: 50px;
}
.section1 .s1-left-part p:first-child span {
  color: black;
  font-family: poppins, serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.section1 .s1-left-part img {
  margin: 25px 0;
}
.section1 .s1-left-part .s1-lp-txt {
  font-family: roboto, sans-serif;
  font-size: 1.2rem;
  padding: 0 10px;
  margin: 0 0 25px 0;
}
.section1 .s2-lp-img-russel-stephens img {
  height: 90px;
  border-radius: 50%;
  box-shadow: 0 0 2px 0;
}
.section1 .s2-lp-img-russel-stephens :nth-child(2) {
  font-family: poppins, serif;
}
.section1 .s2-lp-img-russel-stephens :last-child {
  font-family: roboto, sans-serif;
  color: rgb(197, 197, 197);
}
.section1 .s1-right-part {
  background: url(../images/store-01.jpg) center/cover;
  width: 50%;
  height: 60vh;
}/*# sourceMappingURL=index.css.map */